<div class="container congrats">
    <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
            <img src="/congratulation.png">
            <br> <br>
            <h1>You have succesfuly registered! Please confirm your email!</h1>
        </div>
    </div>
</div>