<h1>Account confirmation email sent!</h1>

<h5>If you email address exists in our system, we've sent an account confirmation email there.</h5>
<a href="/account/login">Back to login</a>

<style>
    body {
        text-align: center;
        margin-top: auto; 
        padding: 70px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
</style>