@model ForgotPasswordViewModel

<form asp-action="ForgotPassword" asp-controller="Account" method="post">
    <input type="email" asp-for="Email" placeholder="Email" required>

    <button type="submit" class="btn btn-primary">Send reset password link</button>
</form>