@model ForgotPasswordViewModel

@{

}
<div class="full-width-height-div shadow-lg">
    <h3 class="text-center" >Reset password</h3>
    <p  class="text-center" >Enter your email to reset your password</p>
    <form asp-action="ForgotPassword" asp-controller="Account" class=" p-sm-5 mx-2 p-2 shadow reset-password-form" method="post">
        <label for="Email"></label>
        <input asp-for="Email" type="text" id="inputEmail" class="form-control" placeholder="Email address">
        <span class="text-danger" asp-validation-for="Email"></span>
        <button type="submit" class="btn btn-primary d-block w-100 my-3">Reset password</button>
    </form>
</div>