<h1>Password successfully reset!</h1>

<style>
    body {
        text-align: center;
        margin-top: auto; 
        padding: 70px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
</style>

<a asp-action="Login" asp-controller="Account">return to Login</a>