<h1>Check your email</h1>
If an account associated with this email or phone number exists,
we will send<br>a password reset email. Click the link in the email to reset your password.
<br>
<br>

If you don't see the email, check other places it might<br>be, like your junk, spam, social, or other folders.
<br>
<a asp-action="Login" asp-controller="Account">Login</a>