@model ResetPasswordViewModel

<h1>Password reset</h1>
<form asp-action="ResetPassword" asp-controller="Account" method="post">
    @Html.HiddenFor(h => h.UserId)
    @Html.HiddenFor(h => h.Token)
    <input asp-for="Password" type="password" placeholder="new password" required>
    <input asp-for="ConfirmPassword" type="password" placeholder="confirm password" required>

    <button type="submit" class="btn btn-success">Reset</button>
</form>