<h1>Password reset link sent</h1>
If the email you provided exists on our system, we've sent you a password reset link. <br>

Check you inbox. If email doesnt arrive in a couple minutes, check that your email is correct.

<br>
<a asp-action="Login" asp-controller="Account">Login</a>