@{
    var username = User?.Identity?.Name ?? "No'malum shaxs";
}

<div class="container">
    <div class="row align-items-center vh-100">
        <div class="col-md-6 mx-auto text-center">
            <text class="display-6"><strong class="text-uppercase">@username</strong>, <code>Ilmhub</code>ga hush kelibsiz 🥳!</text>
        </div>
    </div>
</div>