* {
    color: white !important;
}
body {
    background-color: #000;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text-container {
}
.header-text {
    background: radial-gradient(50% 123.47% at 50% 50%, #00FF94 0%, #FF00C7 100%), linear-gradient(121.28deg, #213100 0%, #FF0000 100%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), linear-gradient(114.9deg, #00C6A2 0%, #6A45A8 100%), radial-gradient(100% 148.07% at 0% 0%, #FFFFFF 0%, #1DCD00 100%);
    background-repeat: repeat;
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-family: 'Inter', sans-serif; */
    /* font-weight: 500;  */
  }
.imgFit {
    max-width: 100%;
    height: auto;
    object-fit: cover;   /* cover, contain */
    display: block;
    width: 100%;
    height: 100%;
}
.register {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
}
.register:hover {
    cursor: pointer;
    color:gainsboro !important;
    transition: 0.4s;
}
.parent {
    width: 100%;
    height: 100vh;
    position: relative;
}
.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input-style {
    outline: none;
    border: #181731;
    background-color: rgb(20, 33, 61);
    border-radius: 7px;
    width: 100%;
    display: block;
    padding: 5px 15px;
    color: white;
    margin-bottom: 20px;
}
.sign-in-btn {
    background-color: rgb(249, 163, 49);
    outline: none;
    border-radius: 7px;
    display: block;
    width: 140px;
    margin: 50px auto;
}
.sm-links {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 40px;
    left: 50%;
    transform:translate(-50%, 0);
}
.sm-link {
    width: 140px;
    font-weight: 450;
    border-radius: 10px;
    padding: 5px;
    display: block;
    border: none;
    outline: none;
    padding-top: 8px;
}
.icon-wrapper {
    display: inline-block;
    border: white;
    border-radius: 10px;
    width: 27px;
    height: 30px;
    line-height: 21px;
    background-color: #FF0000;
    padding: 5px;
    margin-right: 5px;
}
.github-wrapper {
    background-color: #fff;
    width: 30px;
    padding-left: 8px;
}
.icn {
    background-color: #000;
    color: #fff !important;
}
.google {
    background-color: rgb(56, 10, 8);
    line-height: 25px;
}
.github {
    line-height: 27px;
    background-color: #333;
}

@media only screen and (max-width: 768px) {
    .left-container {
        display: none;
    }
}