@model ClientRegistrationViewModel
@{
    
}

<form asp-action="Register" asp-controller="Client" method="post">
    <label for="">Client Name</label>
    <input type="text" asp-for="ClientName" />
    <label for="">Client Uri</label>
    <input type="text" asp-for="ClientUri" />
    <label for="">Grant Types</label>
    <input type="text" asp-for="Grants" />
    <label for="">Redirect Uris</label>
    <input type="text" asp-for="Redirects" />
    <label for="">Scope</label>
    <input type="text" asp-for="Scope" />
    <button class="btn btn-primary" type="submit">submit</button>
</form>